.header{
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
} 
.header-iner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    background-color: white;
    border-radius: 30px;
    
}
.logo img{
    padding-left: 10px;
}
.header-iner ul li{
    font-size: 13px;
    padding: 24px ;
    border: transparent;
    letter-spacing: 1px;
}
.header-iner ul li:hover{
    cursor: pointer;
    color:var(--color2);
}

.section1{
    padding-top: 250px;
    text-align: center;
}
 .section1::before{
    content:" ";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-image: url(/video/section1-img1.png);
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center bottom;
} 
.section1-iner-title{
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}
.section1-title{
    max-width: 540px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: white;
}
.section1-title h1{
    font-size: 36px;
    padding-bottom: 30px;
}
.section1-title p{
    padding-bottom: 30px;
    font-size: 15px;
}
.section1-button{
    width: 148px;
    height: 40px;
    background-color: var(--color2);
    color: white;
    border-radius: 18px;
    font-size: 13px;
    margin-bottom: 20px;
    border: none;
}
.section1-button:hover{
    background-color: blue;
}
.section1-box-title{
    margin-left: auto;
    margin-right: auto;

}
 
.section1-iner{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
}
.section1-box-title h5{
    font-size: 18px;
    margin-bottom: 15px;
}
.section1-box-title p{
    font-size: 13px;
}
.section1-img{
    width: 90px;
    height: 90px;
    margin: 30px auto;
    border-radius: 50%;
    line-height: 90px;
    background-color: var(--color1);
}
.section1-img:hover{
    background-color: var(--color2);
}
.section1-img img{
    width: 100;
    height: auto;
    object-fit: cover;
}

.section2{
    margin-top: 70px;
}
.section2-iner{
    display:flex; 
    align-items: center;
    
}
.section2-img {
    display: flex;
    justify-content: center;
}
.section2-title{
    padding: 20px;
}
.section2-title h2{
    font-size: 24px;
    margin-bottom: 30px;
}
.section2-title p{
    font-size: 16px;
    margin-bottom: 30px;
    color: #777777;
    line-height: 28px;
    letter-spacing: 1px;
}
.section2-up{
    margin-bottom: 100px;
}
.space{
    height: 1px;
    border-bottom: 1px solid #eee;
    padding: 0px 100px;
}
.section2-down{
   margin:100px 0px;
}

.icon{
    text-align: center;
    margin-bottom: 15px;
}


.section3 {
    position: relative;
    padding-bottom: 110px;
}

.section3-iner::before{
    background-image: url(/video/section3-background.png);
    content:" ";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center center;
}

.section3-title, .section4-title, .section5-title, .section6-title{
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.section3-title h1, .section4-title h1,.section5-title h1,.section6-title h1{
    color: #fff;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 0.25px;
    padding-top: 80px;
    padding-bottom: 30px;
}
.section3-title p,.section4-title p,.section5-title p,.section6-title p{
    color: #fff;
    letter-spacing: 1px;
    line-height: 26px;
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 40px;
}

.section3-desc {
    text-align: center;
   
}
.section3-desc strong{
    margin-right: 20px 0px 5px ;
    display: block;
    font-size: 17px;
    font-weight: 500;
    
}
.section3-desc span{
    max-width: 120px;
    display: block;
    font-size: 14px;
    color: #777777;
    letter-spacing: 1px;
    margin: auto;
}
.section3-items{
    position: relative;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease 0s;
    margin-bottom: 30px;
}
.section3-items::after{
    content: '';
    position: absolute;
    z-index: -1;
    background: #fff;
    opacity: 0.2;
    width: 95%;
    height: 100%;
    bottom: -12px;
    
    border-radius: 20px;
}
.section3-items:hover{
    transform: translateY(-10%);

}

/* SECTION 4 */
.section4{
    padding-bottom: 100px;
}
.section4-title h1, .section4-title p, .section5-title h1, .section5-title p,.section6-title h1,.section6-title p{
    color: black;
    letter-spacing: 1px;
    opacity: 0.8;
}
.section6-title p{
    padding-bottom: 50px;
}
.section4-items {
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    padding: 10px;
    margin-bottom: 30px;
}
.section4-items i{
   font-size: 38px;
    margin-top: 30px;
    margin-bottom: 20px;

}
.section4-items p{
    text-align: left;
    margin-bottom: 26px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 400;
    font-size: 15px;
    color: #777;
    letter-spacing: 0.6px;
    line-height: 26px;
}
.desc4{
    text-align: left;
    transition: transform 0.5s;

}
.section4-desc{
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-bottom: 26px;
    
}

.section4-desc img{
    border-radius:50% ;
    padding: 0px; 
    margin-right: 14px;
}

.desc4 h3{
    font-weight: 400;
    font-size: 17px;
    color: #1e1e1e;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.desc4 span{
    font-weight: 400;
    font-size: 15px;
    color: #ff589e;
    letter-spacing: 1px;
}
.desc4:hover{
    transform: translateX(10%);
}


.section5{
    background-color: #F2F2FE;
    padding-bottom: 100px;
}
.section5-items{
    text-align: center;
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    padding-top: 30px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    padding-bottom: 46px;
}

.section5-items ul{
    display: block;
    margin-top: 50px;
}

.section5-items ul li{
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 13px;
    color: #7a7a7a;
    letter-spacing: 1px;
    text-decoration: line-through;
}
.section5-items ul li:nth-child(6){
    margin-bottom: 20px;
    
}
.section5-items h3{
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #1e1e1e;
}
.section5-button1{
    background-color: #8261EE;
    width: 80%;
    margin: 26px auto;
    padding: 20px;
    border-radius: 20px;
}
.section5-button1 p{
    color: white;
    font-weight: 500;
    font-size: 28px;
}
.section5-button2{
    background-color: #8261EE;
    margin: 0px auto;
    border-radius: 20px;
    margin-top: 40px;
    width: 44%;
}
.section5-button2:hover{
    background-color: #ff589e;
}
.section5-button2 p{
    font-size: 13px;
    padding: 12px 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.5px;
}


.section-mini{
    background-image: url(/video/section-mini.png);
    background-repeat: no-repeat;
    object-fit: contain;
    padding-bottom: 120px;
}

.section-mini-desc{
    text-align: center;
    position: relative;

}
.mini-special::before{
    display: none;
    content: " ";
}

.section-mini-desc::before{
    content: " ";
    background: url(/video/section-mini2.png);
    position: absolute;
    width: 70%;
    height: 32px;
    background-position: center center;
    top: 50%;
    background-repeat: no-repeat;
    left: -40%;
}
.section-mini-title::before:first-child{
    display: none;
}

.section-mini-title{
    transition: all 0.3s ease 0s;  
}
.section-mini-title strong{
    display: block;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.25px;
    margin-bottom: 10px;
    color: #fff;
    margin-top: 120px;
}
.section-mini-title span{
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.25px;
}
.section-mini-title:hover{
    transform: translateY(-20%)
}


.section6-img{
    width: 100%;
    aspect-ratio: 4/3;

}
.section6-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    overflow: hidden; 
}
.section6-title{
    text-align: center;
}
.section6-mini-desc{
    margin-bottom: 50px;
}
.section6-title a{
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    line-height: 26px;
    margin-bottom: 20px;
}
.section6-title p{
    font-weight: 400;
    font-size: 13px;
    color: #777;
    letter-spacing: 0.26px;
    margin-bottom: 15px;
    padding: 0px;
}
.section6-button{
   display: flex;
   justify-content: center;
}
.section6-button div{
    font-size: 13px;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #8261ee;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    border-color: none;
}
.section6-button  div:hover{
    background-color: #ff589e;
}
.section7{
    background-color: #F2F2FE;
}

input{
    width: 100%;
    color: #777;
    font-size: 14px;
    border: 1px solid #eee;
    height: 50px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}
textarea{   
    color: #777;
    font-size: 14px;
    border: 1px solid #eee;
    width: 100%;
    height: 150px;
    margin: 30px 0px;
    padding: 20px;
    border-radius: 20px;
}
.section7-button{
    float: left;
    margin-bottom: 100px;
}

.section7-left h5{

    font-weight: 500;
    font-size: 18px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    line-height: 26px;
}
.section7-left p{
   font-size: 14px;
   letter-spacing: 1px;
   max-width: 350px;
   line-height: 30px;
   margin-top: 20px;


}



.end{
    background-color: #8560EC;
}
.main-end{
    justify-content: center;
    margin-top: 30px;
} 
.main-end li{
    margin: 0px 10px;
    display: inline-block;
    background-color: #fff;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
     
}
.main-end li i{
    line-height: 36px;
    font-size: 16px;
    color: black;
    border-radius: 50%;
}
.coppyright{
    font-weight: 100;
    text-align: center;
    border-top: 1px solid rgba(250,250,250,0.2);
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* RESPONSIVE */
/* HEADER  */
.menu-trigger{
    position: absolute;
    top: 23px;
    width: 32px;
    height: 40px;
    z-index: 99;
    right: 40px;
    display: none;  
}
.menu-trigger i{
    font-weight: 800;
    font-size: 30px;
}
.header-iner ul li {
    padding: 24px 10px;
}
@media (max-width:1199.98px){
    .section-mini {
        background-size: cover;
        padding: 60px 0px;
    }
    .section-mini-desc::before{
        display: none;
    }
    .section-mini-title strong{
        margin-top: 30px;
    }
}
@media (max-width: 991.98px) {
    .header-iner ul li {
        display: none;
    }
    .logo{
        padding: 24px 0px;
    }
    .menu-trigger{
        top:25px;
        display: inline-block;
    }
  
    .section7-left{
        margin-bottom: 20px;
    }
}
@media (max-width: 767.98px) {
    .section4-items{
        width: 70%;
        margin: 30px auto;

    }
    input{
        margin-top: 20px;

    }
    .section7-left{
        margin-bottom: 0px;
    }
}
@media (max-width: 575.98px) {
    .section1{
        padding-top: 170px;
    }
   .section1-title h1{
    font-size: 24px;
   }
   .section1-title p{
    font-size: 14px;
   }
   .section1-iner{
    width: 96%;
    margin: 0px auto;
    margin-bottom: 30px;
}
    .section2-img img{
        width: 90%;
        margin-bottom: 20px;
    }
    .space{
        padding: 0px;
    }
    .section4-items{
        height: 88%;
    }
    .section5-items{
        height: 88%;
      padding-bottom: 85px;
}

.section-mini-title{
    padding: 20px 0px;
}
.section-mini-title strong{
    font-size: 36px;
    margin-top: 30px;
}
.section-mini-title span{
    font-size: 17px;
}


}
